{% extends 'baseAdmin.html.twig' %}

{% block title %} Ajouter une Formation {% endblock %}

{% block body %}
{{ form_start(form) }}
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-5 mb-5">Ajouter une Formation </h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="bg-light rounded p-4 p-sm-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <div class="form-floating">
                                {{ form_label(form.titreFor) }}
                                {{ form_widget(form.titreFor, {attr: {'class': 'form-control'}}) }}
                                {{ form_errors(form.titreFor) }}
                            </div>
                        </div>
                    
                        <div class="col-sm-12">
                            <div class="form-floating">
                                {{ form_label(form.dateFor) }}
                                {{ form_widget(form.dateFor, {attr: {'class': 'form-control'}}) }}
                                {{ form_errors(form.dateFor) }}
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-floating">
                                {{ form_label(form.lieuFor) }}
                                {{ form_widget(form.lieuFor, {attr: {'class': 'form-control'}}) }}
                                {{ form_errors(form.lieuFor) }}
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-floating">
                                {{ form_label(form.statutFor) }}
                                {{ form_widget(form.statutFor, {attr: {'class': 'form-control'}}) }}
                                {{ form_errors(form.statutFor) }}
                            </div>
                        </div>
                        



                        <div class="col-12 text-center">
                            <button class="btn btn-primary py-3 px-4" type="submit">Enregistrer</button>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>      
</div>
{{ form_end(form) }}
{% endblock %}