{% extends 'baseAdmin.html.twig' %}
{# {% if userList is defined and userList is not empty%} #}
{% block body %}
	<a href="{{ path('insertformation') }}" class="btn btn-success">
		Ajouter une Formation</a>
	<div
		class="row">
		<!-- column -->
		<div class="col-lg-12">
			<div class="card">
				<div class="card-block">
					<h4 class="card-title">Basic Table</h4>
					<h6 class="card-subtitle">Add class
						<code>.table</code>
					</h6>
					<div class="table-responsive">
						<table class="table">
							<tr>
								<th>Titre Formation</th>
								<th>Date Formation</th>
								<th>Lieu Formation</th>
								<th>Statut</th>
							</tr>
							{% for formation in formations %}
								<tr>
									<td>{{ formation.titreFor }}</td>
									<td>{{ formation.dateFor|date('Y-m-d') }}</td>
									<td>{{ formation.lieuFor }}</td>
									<td>{{ formation.statutFor }}</td>


									<td>
										<a class="text-themecolor" href="{{ path('editFormation', {'id': formation.id}) }}">Modifier</a>
										<form method="post" action="{{ path('deleteFormation', { id: formation.id }) }}">
											<a class="text-themecolor" href="{{ path('deleteFormation', {'id': formation.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette formation ?');">Supprimer</a>

										</form>

									</td>
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
