{% extends 'baseAdmin.html.twig' %}
{# {% if userList is defined and userList is not empty%} #}
{% block body %}
	<a href="{{ path('insertReclamation') }}" class="btn btn-success">Ajouter un Reclamation</a>
	<div
		class="row">
		<!-- column -->
		<div class="col-lg-12">
			<div class="card">
				<div class="card-block">
					<h4 class="card-title">Basic Table</h4>
					<h6 class="card-subtitle">Add class
						<code>.table</code>
					</h6>
					<div class="table-responsive">
						<table class="table">
							<tr>
								<th>Sujet</th>
								<th>Contenu</th>
								<th>Date</th>
								<th>Email Destinataire</th>
							</tr>
							{% for reclamation in reclamations %}
								<tr>
									<td>{{ reclamation.sujetRec }}</td>
									<td>{{ reclamation.contenuRec }}</td>
									<td>{{ reclamation.dateRec|date('d-m-Y H:i') }}</td>
									<td>{{ reclamation.emailDes }}</td>


									<td>
										<a href="{{ path('editReclamation', {'id': reclamation.id}) }}">Modifier</a>
										<form method="post" action="{{ path('deleteReclamation', { id: reclamation.id }) }}">
											<a href="{{ path('deleteReclamation', {'id': reclamation.id}) }}">Supprimer</a>

										</form>

									</td>
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
