{% extends 'base.html.twig' %}

{% block title %}Modifier la Consultation{% endblock %}

{% block body %}
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="fs-5 fw-bold text-primary">Modification</p>
                <h1 class="display-5 mb-5">Modifiez la consultation</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-7">

                        {# Affichage des messages Flash #}
                        {# {% for message in app.flashes('success') %}
                            <div class="alert alert-success text-center">{{ message }}</div>
                        {% endfor %}
                        {% for message in app.flashes('danger') %}
                            <div class="alert alert-danger text-center">{{ message }}</div>
                        {% endfor %} #}

                    <div class="bg-light rounded p-4 p-sm-5 wow fadeInUp" data-wow-delay="0.1s">
                    {{ form_start(form, {'attr': {'class': 'row g-3','novalidate': 'novalidate'}}) }}

                        <div class="col-sm-6">
                            <div class="form-floating">
                                {{ form_widget(form.nom, {'attr': {'class': 'form-control border-0', 'placeholder': 'Nom'}}) }}
                                {{ form_label(form.nom) }}
                                <div class="text-danger">{{ form_errors(form.nom) }}</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                {{ form_widget(form.prenom, {'attr': {'class': 'form-control border-0', 'placeholder': 'Prénom'}}) }}
                                {{ form_label(form.prenom) }}
                                <div class="text-danger">{{ form_errors(form.prenom) }}</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                {{ form_widget(form.age, {'attr': {'class': 'form-control border-0', 'placeholder': 'Âge'}}) }}
                                {{ form_label(form.age) }}
                                <div class="text-danger">{{ form_errors(form.age) }}</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                {{ form_widget(form.dateCons, {'attr': {'class': 'form-control border-0', 'placeholder': 'Date de consultation'}}) }}
                                {{ form_label(form.dateCons) }}
                                <div class="text-danger">{{ form_errors(form.dateCons) }}</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                {{ form_widget(form.lienVisioCons, {'attr': {'class': 'form-control border-0', 'placeholder': 'Lien Visio'}}) }}
                                {{ form_label(form.lienVisioCons) }}
                                <div class="text-danger">{{ form_errors(form.lienVisioCons) }}</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                {{ form_widget(form.notesCons, {'attr': {'class': 'form-control border-0', 'placeholder': 'Remarques'}}) }}
                                {{ form_label(form.notesCons) }}
                                <div class="text-danger">{{ form_errors(form.notesCons) }}</div>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <button class="btn btn-success py-3 px-4" type="submit">Mettre à jour</button>
                        </div>

                        {{ form_end(form) }}

                        <div class="col-12 text-center mt-3">
                            <a href="{{ path('consultation_index') }}" class="btn btn-secondary">Retour</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
