{% extends 'baseAdmin.html.twig' %}

{% block title %}Modifier un Avis
{% endblock %}

{% block body %}
	{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }} 
	<div class="container-fluid py-5">
		<div class="container">
			<div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
				<h1 class="display-5 mb-5">Modifier une Avis</h1>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-7">
					<div class="bg-light rounded p-4 p-sm-5 wow fadeInUp" data-wow-delay="0.1s">
						<div class="row g-3">
							<div class="col-sm-6">
								<div class="form-floating">
									{{ form_label(form.sujetAvis , "Sujet" ) }}
									{{ form_widget(form.sujetAvis, {attr: {'class': 'form-control'}}) }}
									{{ form_errors(form.sujetAvis) }}
								</div>
							</div>

							<div class="col-sm-12">
								<div class="form-floating">
									{{ form_label(form.contenuAvis , "Contenu") }}
									{{ form_widget(form.contenuAvis, {attr: {'class': 'form-control'}}) }}
									{{ form_errors(form.contenuAvis) }}
								</div>
							</div>

							<div class="col-sm-12">
								<div class="form-floating">
									{{ form_label(form.noteAvis , "Note") }}
									{{ form_widget(form.noteAvis, {attr: {'class': 'form-control'}}) }}
									{{ form_errors(form.noteAvis) }}
								</div>
							</div>

							<div class="col-sm-12">
								<div class="form-floating">
									{{ form_label(form.dateAvis , "Date de l'envoi") }}
									{{ form_widget(form.dateAvis, {attr: {'class': 'form-control'}}) }}
									{{ form_errors(form.dateAvis) }}
								</div>
							</div>

							<div class="col-sm-12">
								<div class="form-floating">
									{{ form_label(form.emailAvis , "Email du Destinataire") }}
									{{ form_widget(form.emailAvis, {attr: {'class': 'form-control'}}) }}
									{{ form_errors(form.emailAvis) }}
								</div>
							</div>
							<div class="col-12 text-center">
								<button class="btn btn-primary py-3 px-4" type="submit">Enregistrer</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}
