{% extends 'baseAdmin.html.twig' %}

{% block title %} Ajouter un Produit {% endblock %}

{% block body %}
{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}
	) }}
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-5 mb-5">Ajouter un Produit</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="bg-light rounded p-4 p-sm-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <div class="form-floating">
                                {{ form_label(form.nomProduit) }}
                                {{ form_widget(form.nomProduit, {attr: {'class': 'form-control'}}) }}
                                {{ form_errors(form.nomProduit) }}
                            </div>
                        </div>
                    
                        <div class="col-sm-12">
                            <div class="form-floating">
                                {{ form_label(form.qteProduit) }}
                                {{ form_widget(form.qteProduit, {attr: {'class': 'form-control'}}) }}
                                {{ form_errors(form.qteProduit) }}
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-floating">
                                {{ form_label(form.prixProduit) }}
                                {{ form_widget(form.prixProduit, {attr: {'class': 'form-control'}}) }}
                                {{ form_errors(form.prixProduit) }}
                            </div>
                        </div>

                       <div class="col-sm-12">
                            <div class="form-floating">
                                {{ form_label(form.statutProduit) }}
                                {{ form_widget(form.statutProduit, {attr: {'class': 'form-control'}}) }}
                                {{ form_errors(form.statutProduit) }}
                            </div>
                        </div>
                        <div class="form-group">
    

                        <div class="col-sm-12">
                            <div class="form-floating">
                                {{ form_label(form.categorieProduit) }}
                                {{ form_widget(form.categorieProduit, {attr: {'class': 'form-control'}}) }}
                                {{ form_errors(form.categorieProduit) }}
                            </div>
                        </div>




                        <div class="col-12 text-center">
                            <button class="btn btn-primary py-3 px-4" type="submit">Enregistrer</button>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>      
</div>
{{ form_end(form) }}
{% endblock %}