{% extends 'baseAdmin.html.twig' %}
{# {% if userList is defined and userList is not empty%} #}
{% block body %}
 <a href="{{ path('insertProduit') }}" class="btn btn-success">Ajouter un Produit</a>
<div class="row">
    <!-- column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-block">
			    <h4 class="card-title">Basic Table</h4>
                    <h6 class="card-subtitle">Add class <code>.table</code></h6>
                        <div class="table-responsive">
                            <table class="table">
                               <tr>
		<th>Nom</th>
        <th>Quantite</th>
        <th>Prix</th>
        <th>Statut</th>
        <th>Categorie</th>

	</tr>
	{% for produit in produits %}
		<tr>
			<td>{{ produit.nomProduit }}</td>
                    <td>{{ produit.qteProduit }}</td>
                    <td>{{ produit.prixProduit }}</td>
                    <td>{{ produit.statutProduit }}</td>
                    <td>{{ produit.categorieProduit }}</td>

                    
                    <td>
                        <a href="{{ path('editProduit', {'id': produit.id}) }}" >Modifier</a>
                        <form method="post" action="{{ path('deleteProduit', { id: produit.id }) }}" >
                        <form method="post" action="{{ path('deleteProduit', { 'id': produit.id }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?');">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" class="btn btn-danger">Supprimer</button>
</form>

                        
</form>

                    </td>
		</tr>
								{% endfor %}      
                        	</table>
                		</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}