{% extends 'base.html.twig' %}

{% block title %} Liste des Commandes {% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="text-center text-success mb-4">les commandes</h1>

    <div class="row">
        {% for commande in commandes %}
            <div class="col-md-4 mb-4">
                <div class="card shadow-lg border-0 h-100 d-flex flex-column">
                    <div class="card-body d-flex flex-column flex-grow-1 text-center">
                        <h5 class="card-title text-success">{{ commande.nomClient }}</h5>
                        <div class="mt-auto">
                            <p class="card-text"><strong>AdresseEmail:</strong> {{ commande.adresseEmail }}</p>
                            <p class="card-text"><strong>Adresse:</strong> {{ commande.adresse }} </p>
                            <p class="card-text"><strong>Statut:</strong> 
                                <span class="badge bg-{% if commande.statutCom == 'en cours' %}danger{% else %}success{% endif %}">
                                    {{ commande.statutCom|capitalize }}
                                </span>
                            </p>
                            <p class="card-text"><strong>DateCommande:</strong> {{ commande.dateCommande|date('d-m-Y H:i') }}</p>

                           
                            
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-12 text-center text-muted">
                <p>Aucune commande trouvé.</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}