{% extends 'base.html.twig' %}

{% block title %}{{ articleConseil.titreArticle }}{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow-lg rounded">
                    <img src="{{ asset(articleConseil.image) }}" class="card-img-top" alt="{{ articleConseil.titreArticle }}">
                    <div class="card-body">
                        <h1 class="card-title text-center">{{ articleConseil.titreArticle }}</h1>
                        <p class="text-muted text-center"><strong>Catégorie :</strong> {{ articleConseil.categorieMentalArticle }}</p>
                        <p class="text-muted text-center"><strong>Contenu de l'Article :</strong>
                        <p class="card-text mt-4">{{ articleConseil.contenuArticle }}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        {# <a href="{{ path('app_articles_conseils_edit', {'id': articleConseil.id}) }}" class="btn btn-warning">
                            <i class="fas fa-edit"></i> Modifier l'Article
                        </a> #}
                        <a href="{{ path('app_articles_conseils_index') }}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Retour à la liste des articles
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
