{% extends 'baseAdmin.html.twig' %}

{% block title %}Update Pack{% endblock %}

{% block body %}
{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-5 mb-5">Ajouter un Pack</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="bg-light rounded p-4 p-sm-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <div class="form-floating">
                                {{ form_label(form.nomPack) }}
                                {{ form_widget(form.nomPack, {attr: {'class': 'form-control'}}) }}
                                {{ form_errors(form.nomPack) }}
                            </div>
                        </div>
                    
                        <div class="col-sm-12">
                            <div class="form-floating">
                                {{ form_label(form.descriptPack) }}
                                {{ form_widget(form.descriptPack, {attr: {'class': 'form-control'}}) }}
                                {{ form_errors(form.descriptPack) }}
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-floating">
                                {{ form_label(form.prixPack) }}
                                {{ form_widget(form.prixPack, {attr: {'class': 'form-control'}}) }}
                                {{ form_errors(form.prixPack) }}
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-floating">
                                {{ form_label(form.dureePack) }}
                                {{ form_widget(form.dureePack, {attr: {'class': 'form-control'}}) }}
                                {{ form_errors(form.dureePack) }}
                            </div>
                        </div>
                         <style>
                            .btn-custom-green{
                                background-color: #28a745 !important;
                                color: white !important;
                                font-weight: bold;
                            }
                        </style>
                        <div class="col-12 text-center">
                            <button class="btn btn-custom-green py-3 px-4" type="submit">Enregistrer</button>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>      
</div>
{{ form_end(form) }}
{% endblock %}
