{% extends 'baseAdmin.html.twig' %}
{# {% if userList is defined and userList is not empty%} #}
{% block body %}
 
                        <style>
                            .btn-custom-green{
                                background-color: #28a745 !important;
                                color: white !important;
                                font-weight: bold;
                            }
                        </style>
 <a href="{{ path('insertPack') }}" class="btn btn-custom-green">Add Pack</a>
<div class="row">
    <!-- column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-block">
			    <h4 class="card-title">Basic Table</h4>
                    <h6 class="card-subtitle">Add class <code>.table</code></h6>
                        <div class="table-responsive">
                            <table class="table">
                               <tr>
		<th>Nom</th>
        <th>Description</th>
        <th>Prix</th>
        <th>Duree</th>
	</tr>
	{% for pack in packs %}
		<tr>
			<td>{{ pack.nomPack }}</td>
                    <td>{{ pack.descriptPack }}</td>
                    <td>{{ pack.prixPack }}</td>
                    <td>{{ pack.dureePack }}</td>
                    
                    
                    <td>
                        <a href="{{ path('editPack', {'id': pack.id}) }}" >Update</a>
                        <form method="post" action="{{ path('deletePack', { id: pack.id }) }}" >
                        <a href="{{ path('deletePack', {'id': pack.id}) }}" >Delete</a>
                        
</form>

                    </td>
		</tr>
								{% endfor %}      
                        	</table>
                		</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}