{% extends 'base.html.twig' %}

{% block title %}Liste des Quiz{% endblock %}

{% block body %}
<div class="container py-5">
    <h1>Liste des Quiz</h1>
    <table class="table">
        <thead>
            <tr>
                {# <th>User ID</th> #}
                <th>Score</th>
                <th>État Mental</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for quiz in quizzes %}
                <tr>
                    {# <td>{{ userId }}</td> Affiche l'ID de l'utilisateur connecté #}
                    <td>{{ quiz.score }}</td>
                    <td>{{ quiz.etatMental }}</td>
                    <td>
                        <a href="{{ path('quiz_show', {'id': quiz.id}) }}" class="btn btn-light btn-sm">
                            <i class="fas fa-eye"></i> Voir
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        <!-- Bouton pour démarrer un quiz -->
    <div class="text-center mt-4">
        <a href="{{ path('quiz_start') }}" class="btn btn-success btn-quiz">Démarrer un Quiz</a>
    </div>

    <!-- Pagination -->
    <div class="d-flex justify-content-center mt-4">
        {{ knp_pagination_render(quizzes) }}
    </div>
</div>
{% endblock %}
